<div class="row">
  <div class="col-md-4">
    <div class="key-point">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      <h1 class="title">Find your goal</h1>
      <div class="description">You want to exercice more, be a better cook, read more.<br>"Do it every day" helps you to figure out your goal and set the right schedule to practice it.</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="key-point">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <h1 class="title">Do it the first day</h1>
      <div class="description">Do your first activity on the first day and "Do it every day" helps to track all your activities for your multiple goals.</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="key-point">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      <h1 class="title">Repeat every day</h1>
      <div class="description">Being good at something is about doing it repeatly.<br>"Do it every day" helps you to track your progress and is your source of motivation to do it every day.</div>
    </div>
  </div>
</div>
