<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <h1>Why this website?</h1>
    <p>Haven't you often tell yourself things like...</p>

    <blockquote>
      <p>I should go running in the morning more than once a week</p>
    </blockquote>
    <p>or like...</p>
    <blockquote>
      <p>I should read every day instead of "when I have the time" before going to sleep</p>
    </blockquote>

    <p>
      Do it every day wants to help you tracking when you actually do these things. Being able to see how often we do things in a very visual way helped us to understand why we have done things some days and not others.
    </p>
  </div>
</div>
