@import 'bootstrap-sprockets';
@import 'variables-bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'bootstrap';
@import 'bootstrap-datetimepicker';

@import 'navbar';
@import 'home';
@import 'goals';
@import 'activities';
@import 'footer';
@import 'about';
@import 'debug';

// this is needed for the carousel to work
html,
body {
  font-weight: 300;
  height: 100%;
}

.row {
  margin-bottom: 45px;
  margin-top: 30px;
}

.alert {
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-spacing-top {
  margin-top: 30px;
}
