@import "bootstrap-sprockets";
@import "_variables";

@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
.navbar {
  transition: background .3s;
}
.navbar-visible {
  padding-top: 150px;
}
.navbar-transparent {
  background-color: transparent;
}
.navbar-visible .navbar-transparent {
  background-color: $brand-primary;
}

.row-spacing {
  margin: 50px 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1 {
  font-weight: 100;
}

.headline {
  position: absolute;
  z-index: 1;
  margin-top: 200px;
}
.headline-text {
  color: white;
  font-size: 45px;
}

.headline-source {
  color: white;
  font-size: 50%;
}

/* header */

a.navbar-brand {
  padding-top: 30px;
  text-decoration: none;
}
.navbar-brand > img {
  width: 60px;
  display: inline-block;
}
a.navbar-brand .logo-text {
  font-size: 32px;
  top: 10px;
  position: relative;
  left: 12px;
  color: white;
  font-weight: 100;
}

/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.goal-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}
.goal-item {
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #cdcdcd
}
.goal-item:last-child {
  border: none;
}
.title-zone {
  display: table;
  width: 100%;
  font-size: 40px;
  margin: 0 0 10px 0;
}
.goal-title {
  display: table-cell;
}
.goal-duration {
  display: table-cell;
  text-align: right;
  font-size: 22px;
  vertical-align: middle;
}
.goal-description {
  margin: 0 0 10px 0;
}
.goal-due-date {
  font-size: 12px;
  text-align: right;
}

/* Calendar */

.calendar {
  table-layout: fixed;
  margin-top: 20px;
}
.calendar-row {
  height: 100px;
}
.calendar-row-head {
  height: 50px;
}
.table-bordered > thead > tr > th.cell-head {
  vertical-align: middle;
}
.offset {
  background-color: #f9f9f9;
}
.today-cell {
  background-color: rgba(44, 62, 80, 0.2);
}
.cell-date {
  text-align: right;
  margin-bottom: 5px;
}
.cell-activities {
}

/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.content-section {
  padding: 50px 0;
}
.key-point {
  padding:0 30px;
  text-align: center;
  color: $gray-light;
}
.key-point .title {
  margin-bottom: 30px;
  color: $brand-primary;
  font-weight: 100;
}
.key-point .description {
  font-size: 20px;
  font-weight: 200;
}
.key-point .glyphicon {
  color: $brand-primary;
  font-size: 60px;
}
