// Footer

.footer {
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  margin-bottom: 40px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  .list {
    list-style: none;
    text-align: right;

    .list-item {
      display: inline-block;
      margin-left: 15px;
    }
  }
}
