// Navbar transparency mecanism

.navbar {
  transition: background .3s;
}

.navbar-visible {
  padding-top: 120px;

  // if the navbar is visible than the transparency must be overwritten
  .navbar-transparent {
    background-color: $brand-primary;
  }
}

.navbar-transparent {
  background-color: transparent;
}

// Navabr button when collapsed

.navbar-default .navbar-toggle {
  background-color: $navbar-default-toggle-hover-bg;
}

// navbar and brand logo

a.navbar-brand {
  padding-top: 30px;
  text-decoration: none;
}

.navbar-brand > img {
  width: 60px;
  display: inline-block;
}

a.navbar-brand .logo-text {
  font-size: 32px;
  top: 10px;
  position: relative;
  left: 12px;
  color: white;
  font-weight: 100;
}

@media(max-width:767px) {
  a.navbar-brand {
    padding-top: 26px;
  }

  a.navbar-brand .logo-text {
    font-size: 22px;
    top: 6px;
  }
}

@media(max-width:320px) {
  a.navbar-brand .logo-text {
    font-size: 16px;
    top: 4px;
  }
}
