<% if @activities.length == 0 %>

  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h1>Your monthly follow up looks very empty, what about creating a goal?</h1>

      <p>Think of something at which you want to be better at. It can be like "do more sport", "read more", "cook my own meal every day“. The choice of this goal is up to you, the possibilities are endless.</p>

      <p>Ready?</p>
      <%= link_to 'Create a goal', new_goal_path, class: "btn btn-primary" %>
    </div>

    <div class="col-md-12 col-spacing-top">
      <%= render 'table' %>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Monthly follow-up</h1>

      <%= render 'table' %>
    </div>
  </div>

<% end %>
