<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Why Do it every day", why_website_path %></li>
      <li><%= link_to "About",               about_path %></li>
    </ul>
  </nav>
</footer>
